
@import "mixin/transition";
@import "mixin/mixin";
@import "janken";


body {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    margin: 0;
}

// スマホ　非表示
.sp-none {
    @include mq(md) {
        display: none!important;
    }
}

// スマホ　表示
.sp-show {
    display: none!important;
    @include mq(md) {
        display: block!important;
    }
}

[v-cloak] {
    display: none;
}




#app {
    height: 100vh;
}



.hoge{
  display: flex;
  flex-wrap: wrap;
}

.show-room{
    flex-wrap: wrap;
}
.item-box{
    margin-bottom: 30px;
    transition: 0.4s linear;
}

.text-box h1{
    font-size: 30px;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    margin-bottom: 0;
}
.text-box p{
    color: #6F7579;
}
.text-box{
    text-align: center;
    background-color: #CDD6DD;
}

.title-sake{
    font-size: 19px;
    text-align: center;
    margin-top:15px;
}

.sakelist{
    display: flex;
    margin:15px;
    &_img{
        width: 70px;
        height: 70px;
    }
}

.text-area{
    background-color: #dee2e2;
    height: 70px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding-top: 5px;

    }
    h1{
        font-size:18px;
        margin-bottom: 5px;

    }
    p{
        margin-bottom: 0px;
        font-size: 5px;
        color: darkgray;
    }
}

.sitida-box{
    text-align: center;
    .sitida-a{
        h1{
            font-size: 20px;
        }
        p{
            font-size:15px
        }
    }
    .sitida-details{
        padding-right: 30px;
        padding-left: 30px;
        h1{
            font-size: 20px;
        }
        p{
            font-size:15px;
            text-align: left;
        }
    }
}


.button1{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color:black;
    width:100%;
    border-color:black;

}

.modal-content{
    width: 90%;
    margin: auto;
}

.modal-body {
    height: 300px;

}
.lol{
    text-align: center;
    h5{
        font-size: 5px;
    }
    p{
        font-size: 20px;
    }
}
.taikenn{
    margin-top: 60px;
    margin-bottom: 60px;
}

.gaiyou{
    background-color: darkgray;
    .gaiyou-title{
        color:darkcyan;
        background-color: white;
        text-align: center;
        padding-top:60px;
        padding-bottom: 60px;
    }
    // .gaiyou-text{
    //     margin: 50px 15px;
    //     padding:30px 100px;
    //     text-align: left;
    //     background-color: white;
    //     table{
    //         margin: 70px;
    //         border-collapse: separate;
    //         border-spacing: 20px 0px;
    //         color: #707070;
    //         th ,td{
    //             color: #212121;
    //             border: 0;
    //             border-top: 1px solid #ACACAC;
    //             padding: 1.5rem 0;
    //             min-width: 200px;
    //         }
    //         tr:last-child{
    //             td,th{
    //                 border-bottom: 1px solid #ACACAC;
    //             }
    //         }

    //     }
        
    // }
}

  table {
    margin: 70px auto;
            border-collapse: separate;
            border-spacing: 20px 0px;
            color: #707070;
  }
  td, th {
    color: #212121;
                border: 0;
                border-top: 1px solid #ACACAC;
                padding: 1.5rem 0;
                min-width: 200px;
                tr:last-child{
                    td,th{
                    border-bottom: 1px solid #ACACAC;
                    }
                }
    }
   
      .gaiyou-text{
        margin: 50px 15px;
        padding:30px 100px;
        text-align: left;
        background-color: white;
      }

  @media screen and (max-width: 640px) {
//     .last td:last-child {
//       border-bottom: solid 1px #ccc;
//       width: 100%;
//     }
//     .tbl-r02 {
//       width: 80%;
//     }
//     .tbl-r02 th,
//     .tbl-r02 td {
//   　　border-bottom: none;
//       display: block;
//       width: 100%;
//     }
  }
