
@import "mixin/transition";
@import "mixin/mixin";


body {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    margin: 0;
}

// スマホ　非表示
.sp-none {
    @include mq(md) {
        display: none!important;
    }
}

// スマホ　表示
.sp-show {
    display: none!important;
    @include mq(md) {
        display: block!important;
    }
}

[v-cloak] {
    display: none;
}




#app {
    height: 100vh;
}


.startView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameView {
    .text {
        height: 100vh;
        color: rgba(var(--vs-primary),1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        text-align: center;
    }
}
.hoge{
  display: flex;
  flex-wrap: wrap;
}

.show-room{
    box-sizing: border-box;
}
.item-box{
    margin-bottom: 30px;
    transition: 0.4s linear;
}

.text-box h1{
    font-size: 30px;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    margin-bottom: 0;
}
.text-box p{
    color: #6F7579;
}
.text-box{
    text-align: center;
    background-color: #CDD6DD;
}