<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <!--  bootstrap  -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <!--  css  -->
    <link rel="stylesheet"  type="text/css" href="./src/css/app.css">
    <link rel="stylesheet"  type="text/css" href="./src/plugin/animate.min.css">

    <!--  fontawesome  -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <div id="app" v-cloak>
      <h1 class="title-sake">お酒を選んでください</h1>

      <div class="sakeblock">
       <div class="sakelist" v-for="sake in items">
          <img class="sakelist_img" :src="sake.path" />
          <div class="text-area">
            <div class="text-top" v-if="sake.kana && sake.fragrance">
              <p>{{ sake.kana }}</p>
              <p>{{ sake.fragrance }}</p>
            </div>

            <h1>{{ sake.name }}</h1>
            <p>{{ sake.productionPlace }}</p>
          </div>
       </div>

       <!-- <div class="sakelist">
          <img class="sakelist_img" src="src/images/tyoki.png" />
          <div class="text-area">
            <h1>麟</h1>
            <p>なんと酒</p>
          </div>
       </div>

       <div class="sakelist">
          <img class="sakelist_img" src="src/images/pa.png" />
          <div class="text-area">
            <h1>千代むすび</h1>
            <p>なんて酒</p>
          </div>
        </div>

        <div class="sakelist">
          <img class="sakelist_img" src="src/images/gu.png" />
          <div class="text-area">
            <h1>大典白菊</h1>
            <p>なんぼ酒</p>
          </div>
        </div>

        <div class="sakelist">
          <img class="sakelist_img" src="src/images/tyoki.png" />
          <div class="text-area">
            <h1>七田</h1>
            <p>なんぽ酒</p>
          </div>
        </div> -->

     </div>

  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>

    <!-- components -->

    <script src="./src/js/App.js"></script>

</body>
</html>
