//メディアクエリ
$breakpoints: (
        "ss": "screen and (max-width: 320)",
        "sm": "screen and (max-width: 576px)",
        "md": "screen and (max-width: 767px)",
        "lg": "screen and (max-width: 992px)",
        "xl": "screen and (max-width: 1200px)",
) !default;

@mixin mq($breakpoint: mb) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//...省略
@mixin line-truncate(){
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin lines-truncate($lines: 2){
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
}

//flex
@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// placeholder color
@mixin placeholder-color($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}