
@keyframes fade-in {
    0% {
        height: 0;
    }
    100% {
        height: auto;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}