@keyframes fade-in {
  0% {
    height: 0; }
  100% {
    height: auto; } }

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.startView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.gameView .cpu {
  background-color: red;
  min-height: 40vh; }
  .gameView .cpu-img img {
    height: 230px;
    object-fit: contain; }

.gameView .player {
  padding-top: 40px;
  background-color: royalblue;
  min-height: 60vh; }
  .gameView .player h1 {
    text-align: center; }

.janken-img {
  width: 100%;
  max-width: 230px;
  height: 100%;
  max-height: 230px;
  object-fit: contain; }

body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  margin: 0; }

@media screen and (max-width: 767px) {
  .sp-none {
    display: none !important; } }

.sp-show {
  display: none !important; }
  @media screen and (max-width: 767px) {
    .sp-show {
      display: block !important; } }

[v-cloak] {
  display: none; }

#app {
  height: 100vh; }

.hoge {
  display: flex;
  flex-wrap: wrap; }

.show-room {
  flex-wrap: wrap; }

.item-box {
  margin-bottom: 30px;
  transition: 0.4s linear; }

.text-box h1 {
  font-size: 30px;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  margin-bottom: 0; }

.text-box p {
  color: #6F7579; }

.text-box {
  text-align: center;
  background-color: #CDD6DD; }

.title-sake {
  font-size: 19px;
  text-align: center;
  margin-top: 15px; }

.sakelist {
  display: flex;
  margin: 15px; }
  .sakelist_img {
    width: 70px;
    height: 70px; }

.text-area {
  background-color: #dee2e2;
  height: 70px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .text-area .text-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-top: 5px; }
  .text-area h1 {
    font-size: 18px;
    margin-bottom: 5px; }
  .text-area p {
    margin-bottom: 0px;
    font-size: 5px;
    color: darkgray; }

.sitida-box {
  text-align: center; }
  .sitida-box .sitida-a h1 {
    font-size: 20px; }
  .sitida-box .sitida-a p {
    font-size: 15px; }
  .sitida-box .sitida-details {
    padding-right: 30px;
    padding-left: 30px; }
    .sitida-box .sitida-details h1 {
      font-size: 20px; }
    .sitida-box .sitida-details p {
      font-size: 15px;
      text-align: left; }

.button1 {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background-color: black;
  width: 100%;
  border-color: black; }

.modal-content {
  width: 90%;
  margin: auto; }

.modal-body {
  height: 300px; }

.lol {
  text-align: center; }
  .lol h5 {
    font-size: 5px; }
  .lol p {
    font-size: 20px; }

.taikenn {
  margin-top: 60px;
  margin-bottom: 60px; }

.gaiyou {
  background-color: darkgray; }
  .gaiyou .gaiyou-title {
    color: darkcyan;
    background-color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px; }

table {
  margin: 70px auto;
  border-collapse: separate;
  border-spacing: 20px 0px;
  color: #707070; }

td, th {
  color: #212121;
  border: 0;
  border-top: 1px solid #ACACAC;
  padding: 1.5rem 0;
  min-width: 200px; }
  td tr:last-child td, td tr:last-child th, th tr:last-child td, th tr:last-child th {
    border-bottom: 1px solid #ACACAC; }

.gaiyou-text {
  margin: 50px 15px;
  padding: 30px 100px;
  text-align: left;
  background-color: white; }
